.125_1325 { 
	overflow:hidden;
}.e125_1325 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:7097px;
	position:absolute;
}.e125_1869 { 
	background-color:rgba(25.28003018349409, 25.28003018349409, 25.28003018349409, 1);
	width:1920px;
	height:960px;
	position:absolute;
	left:0px;
	top:0px;
}.e125_1870 { 
	width:816px;
	height:368px;
	position:absolute;
	left:120px;
	top:296px;
}.e125_1871 { 
	width:816px;
	height:227px;
	position:absolute;
	left:0px;
	top:0px;
}.e125_1872 { 
	width:816px;
	height:174px;
	position:absolute;
	left:0px;
	top:0px;
}.e125_1962 { 
	color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:816px;
	height:174px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:72px;
	letter-spacing:-4;
}.e125_1963 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.5;
	width:816px;
	height:29px;
	position:absolute;
	left:0px;
	top:198px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:-4;
}.e125_1873 { 
	width:816px;
	height:77px;
	position:absolute;
	left:0px;
	top:291px;
}.e125_1874 { 
	background-color:rgba(255, 255, 255, 1);
	width:320px;
	height:77px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e125_1964 { 
	color:rgba(13.000000175088644, 13.000000175088644, 13.000000175088644, 1);
	width:272px;
	height:29px;
	position:absolute;
	left:24px;
	top:24px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:-4;
}.e125_1875 { 
	background-color:rgba(255, 255, 255, 0.10000000149011612);
	width:907px;
	height:960px;
	position:absolute;
	left:1013px;
	top:0px;
}.e125_1965 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.25;
	width:432px;
	height:39px;
	position:absolute;
	left:237px;
	top:461px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:-4;
}.e125_1876 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:957px;
	position:absolute;
	left:0px;
	top:960px;
}.e125_1877 { 
	width:816px;
	height:215px;
	position:absolute;
	left:120px;
	top:120px;
}.e125_1966 { 
	color:rgba(25.28003018349409, 25.28003018349409, 25.28003018349409, 1);
	width:816px;
	height:174px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:72px;
	letter-spacing:-4;
}.e125_1967 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:816px;
	height:29px;
	position:absolute;
	left:0px;
	top:186px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:-4;
}.e125_1878 { 
	width:1680px;
	height:454px;
	position:absolute;
	left:120px;
	top:383px;
}.e125_1879 { 
	background-color:rgba(247.56250709295273, 247.56250709295273, 247.56250709295273, 1);
	width:411px;
	height:454px;
	position:absolute;
	left:634.5px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e125_1880 { 
	background-color:rgba(255, 255, 255, 1);
	width:371px;
	height:300px;
	position:absolute;
	left:20px;
	top:20px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e125_1968 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.25;
	width:70px;
	height:24px;
	position:absolute;
	left:151px;
	top:138px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:-4;
}.e125_2854 { 
	width:297.3632507324219px;
	height:300px;
	position:absolute;
	left:46.5px;
	top:-1.2421875px;
	border-top-left-radius:150px;
	border-top-right-radius:150px;
	border-bottom-left-radius:150px;
	border-bottom-right-radius:150px;
	background-image:url(images/profile__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e125_1881 { 
	width:371px;
	height:70px;
	position:absolute;
	left:20px;
	top:344px;
}.e125_1969 { 
	color:rgba(0, 0, 0, 1);
	width:371px;
	height:34px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:-4;
}.e125_1970 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:371px;
	height:24px;
	position:absolute;
	left:0px;
	top:46px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:-4;
}.e125_1882 { 
	background-color:rgba(25.28003018349409, 25.28003018349409, 25.28003018349409, 1);
	width:1920px;
	height:960px;
	position:absolute;
	left:0px;
	top:1917px;
}.e125_1883 { 
	width:816px;
	height:397px;
	position:absolute;
	left:120px;
	top:281.5px;
}.e125_1884 { 
	width:816px;
	height:256px;
	position:absolute;
	left:0px;
	top:0px;
}.e125_1885 { 
	width:816px;
	height:174px;
	position:absolute;
	left:0px;
	top:0px;
}.e125_1971 { 
	color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:816px;
	height:174px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:72px;
	letter-spacing:-4;
}.e125_1972 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.5;
	width:816px;
	height:58px;
	position:absolute;
	left:0px;
	top:198px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:-4;
}.e125_1886 { 
	width:816px;
	height:77px;
	position:absolute;
	left:0px;
	top:320px;
}.e125_1887 { 
	background-color:rgba(255, 255, 255, 1);
	width:320px;
	height:77px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e125_1973 { 
	color:rgba(13.000000175088644, 13.000000175088644, 13.000000175088644, 1);
	width:272px;
	height:29px;
	position:absolute;
	left:24px;
	top:24px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:-4;
}.e125_1888 { 
	background-color:rgba(255, 255, 255, 0.10000000149011612);
	width:907px;
	height:960px;
	position:absolute;
	left:1013px;
	top:0px;
}.e125_1974 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.25;
	width:432px;
	height:39px;
	position:absolute;
	left:237px;
	top:461px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:-4;
}.e125_1889 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:594px;
	position:absolute;
	left:0px;
	top:2877px;
}.e125_1890 { 
	width:1680px;
	height:140px;
	position:absolute;
	left:120px;
	top:120px;
}.e125_1891 { 
	width:1060px;
	height:87px;
	position:absolute;
	left:0px;
	top:0px;
}.e125_1975 { 
	color:rgba(25.28003018349409, 25.28003018349409, 25.28003018349409, 1);
	width:1060px;
	height:87px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:72px;
	letter-spacing:-4;
}.e125_1976 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.6000000238418579;
	width:800px;
	height:29px;
	position:absolute;
	left:0px;
	top:111px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:-4;
}.e125_1892 { 
	width:1680px;
	height:166px;
	position:absolute;
	left:120px;
	top:308px;
}.e125_1893 { 
	background-color:rgba(247.56250709295273, 247.56250709295273, 247.56250709295273, 1);
	width:417px;
	height:166px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e125_1977 { 
	color:rgba(0, 0, 0, 1);
	width:369px;
	height:48px;
	position:absolute;
	left:24px;
	top:24px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-4;
}.e125_1978 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:369px;
	height:58px;
	position:absolute;
	left:24px;
	top:84px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:-4;
}.e125_1894 { 
	background-color:rgba(247.56250709295273, 247.56250709295273, 247.56250709295273, 1);
	width:417px;
	height:166px;
	position:absolute;
	left:421px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e125_1979 { 
	color:rgba(0, 0, 0, 1);
	width:369px;
	height:48px;
	position:absolute;
	left:24px;
	top:24px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-4;
}.e125_1980 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:369px;
	height:58px;
	position:absolute;
	left:24px;
	top:84px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:-4;
}.e125_1895 { 
	background-color:rgba(247.56250709295273, 247.56250709295273, 247.56250709295273, 1);
	width:417px;
	height:166px;
	position:absolute;
	left:842px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e125_1981 { 
	color:rgba(0, 0, 0, 1);
	width:369px;
	height:48px;
	position:absolute;
	left:24px;
	top:24px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-4;
}.e125_1982 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:369px;
	height:58px;
	position:absolute;
	left:24px;
	top:84px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:-4;
}.e125_1896 { 
	background-color:rgba(247.56250709295273, 247.56250709295273, 247.56250709295273, 1);
	width:417px;
	height:166px;
	position:absolute;
	left:1263px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e125_1983 { 
	color:rgba(0, 0, 0, 1);
	width:369px;
	height:48px;
	position:absolute;
	left:24px;
	top:24px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-4;
}.e125_1984 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:369px;
	height:58px;
	position:absolute;
	left:24px;
	top:84px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:-4;
}.e125_1897 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:739px;
	position:absolute;
	left:0px;
	top:3471px;
}.e125_1898 { 
	width:1680px;
	height:227px;
	position:absolute;
	left:120px;
	top:120px;
}.e125_1899 { 
	width:1060px;
	height:87px;
	position:absolute;
	left:0px;
	top:0px;
}.e125_1985 { 
	color:rgba(25.28003018349409, 25.28003018349409, 25.28003018349409, 1);
	width:1060px;
	height:87px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:72px;
	letter-spacing:-4;
}.e125_1986 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.6000000238418579;
	width:800px;
	height:116px;
	position:absolute;
	left:0px;
	top:111px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:-4;
}.e125_1900 { 
	width:1680px;
	height:224px;
	position:absolute;
	left:120px;
	top:395px;
}.e125_1901 { 
	background-color:rgba(247.56250709295273, 247.56250709295273, 247.56250709295273, 1);
	width:417px;
	height:195px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e125_1987 { 
	color:rgba(0, 0, 0, 1);
	width:369px;
	height:48px;
	position:absolute;
	left:24px;
	top:24px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-4;
}.e125_1988 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:369px;
	height:87px;
	position:absolute;
	left:24px;
	top:84px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:-4;
}.e125_1902 { 
	background-color:rgba(247.56250709295273, 247.56250709295273, 247.56250709295273, 1);
	width:417px;
	height:195px;
	position:absolute;
	left:421px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e125_1989 { 
	color:rgba(0, 0, 0, 1);
	width:369px;
	height:48px;
	position:absolute;
	left:24px;
	top:24px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-4;
}.e125_1990 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:369px;
	height:87px;
	position:absolute;
	left:24px;
	top:84px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:-4;
}.e125_1903 { 
	background-color:rgba(247.56250709295273, 247.56250709295273, 247.56250709295273, 1);
	width:417px;
	height:224px;
	position:absolute;
	left:842px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e125_1991 { 
	color:rgba(0, 0, 0, 1);
	width:369px;
	height:48px;
	position:absolute;
	left:24px;
	top:24px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-4;
}.e125_1992 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:369px;
	height:116px;
	position:absolute;
	left:24px;
	top:84px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:-4;
}.e125_1904 { 
	background-color:rgba(247.56250709295273, 247.56250709295273, 247.56250709295273, 1);
	width:417px;
	height:224px;
	position:absolute;
	left:1263px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e125_1993 { 
	color:rgba(0, 0, 0, 1);
	width:369px;
	height:48px;
	position:absolute;
	left:24px;
	top:24px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-4;
}.e125_1994 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:369px;
	height:116px;
	position:absolute;
	left:24px;
	top:84px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:-4;
}.e125_1905 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:824px;
	position:absolute;
	left:0px;
	top:4210px;
}.e125_1906 { 
	width:816px;
	height:128px;
	position:absolute;
	left:120px;
	top:120px;
}.e125_1995 { 
	color:rgba(25.28003018349409, 25.28003018349409, 25.28003018349409, 1);
	width:816px;
	height:87px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:72px;
	letter-spacing:-4;
}.e125_1996 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:816px;
	height:29px;
	position:absolute;
	left:0px;
	top:99px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:-4;
}.e125_1907 { 
	width:1680px;
	height:408px;
	position:absolute;
	left:120px;
	top:296px;
}.e125_1908 { 
	background-color:rgba(247.56250709295273, 247.56250709295273, 247.56250709295273, 1);
	width:552px;
	height:186px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e125_1909 { 
	background-color:rgba(0, 0, 0, 1);
	width:64px;
	height:64px;
	position:absolute;
	left:16px;
	top:16px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}.e125_1997 { 
	color:rgba(0, 0, 0, 1);
	width:35px;
	height:12px;
	position:absolute;
	left:14px;
	top:26px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:-4;
}.e125_1910 { 
	width:440px;
	height:154px;
	position:absolute;
	left:96px;
	top:16px;
}.e125_1998 { 
	color:rgba(0, 0, 0, 1);
	width:440px;
	height:24px;
	position:absolute;
	left:0px;
	top:6px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:-4;
}.e125_1999 { 
	color:rgba(0, 0, 0, 1);
	width:440px;
	height:120px;
	position:absolute;
	left:0px;
	top:34px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:-4;
}.e125_1911 { 
	background-color:rgba(247.56250709295273, 247.56250709295273, 247.56250709295273, 1);
	width:552px;
	height:210px;
	position:absolute;
	left:564px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e125_1912 { 
	background-color:rgba(0, 0, 0, 1);
	width:64px;
	height:64px;
	position:absolute;
	left:16px;
	top:16px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}.e125_2000 { 
	color:rgba(0, 0, 0, 1);
	width:35px;
	height:12px;
	position:absolute;
	left:14px;
	top:26px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:-4;
}.e125_1913 { 
	width:440px;
	height:178px;
	position:absolute;
	left:96px;
	top:16px;
}.e125_2001 { 
	color:rgba(0, 0, 0, 1);
	width:440px;
	height:24px;
	position:absolute;
	left:0px;
	top:6px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:-4;
}.e125_2002 { 
	color:rgba(0, 0, 0, 1);
	width:440px;
	height:144px;
	position:absolute;
	left:0px;
	top:34px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:-4;
}.e125_1914 { 
	background-color:rgba(247.56250709295273, 247.56250709295273, 247.56250709295273, 1);
	width:552px;
	height:210px;
	position:absolute;
	left:1128px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e125_1915 { 
	background-color:rgba(0, 0, 0, 1);
	width:64px;
	height:64px;
	position:absolute;
	left:16px;
	top:16px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}.e125_2003 { 
	color:rgba(0, 0, 0, 1);
	width:35px;
	height:12px;
	position:absolute;
	left:14px;
	top:26px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:-4;
}.e125_1916 { 
	width:440px;
	height:178px;
	position:absolute;
	left:96px;
	top:16px;
}.e125_2004 { 
	color:rgba(0, 0, 0, 1);
	width:440px;
	height:24px;
	position:absolute;
	left:0px;
	top:6px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:-4;
}.e125_2005 { 
	color:rgba(0, 0, 0, 1);
	width:440px;
	height:144px;
	position:absolute;
	left:0px;
	top:34px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:-4;
}.e125_1917 { 
	background-color:rgba(247.56250709295273, 247.56250709295273, 247.56250709295273, 1);
	width:560px;
	height:186px;
	position:absolute;
	left:560px;
	top:222px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e125_1918 { 
	background-color:rgba(0, 0, 0, 1);
	width:64px;
	height:64px;
	position:absolute;
	left:16px;
	top:16px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}.e125_2006 { 
	color:rgba(0, 0, 0, 1);
	width:35px;
	height:12px;
	position:absolute;
	left:14px;
	top:26px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:-4;
}.e125_1919 { 
	width:448px;
	height:154px;
	position:absolute;
	left:96px;
	top:16px;
}.e125_2007 { 
	color:rgba(0, 0, 0, 1);
	width:448px;
	height:24px;
	position:absolute;
	left:0px;
	top:6px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:-4;
}.e125_2008 { 
	color:rgba(0, 0, 0, 1);
	width:448px;
	height:120px;
	position:absolute;
	left:0px;
	top:34px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:-4;
}.e125_1920 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1041px;
	position:absolute;
	left:0px;
	top:5034px;
}.e125_1921 { 
	width:816px;
	height:400px;
	position:absolute;
	left:120px;
	top:320.5px;
}.e125_1922 { 
	width:816px;
	height:87px;
	position:absolute;
	left:0px;
	top:0px;
}.e125_2009 { 
	color:rgba(25.28003018349409, 25.28003018349409, 25.28003018349409, 1);
	width:816px;
	height:87px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:72px;
	letter-spacing:-4;
}.e125_1923 { 
	width:816px;
	height:148px;
	position:absolute;
	left:0px;
	top:111px;
}.e125_1924 { 
	width:256px;
	height:62px;
	position:absolute;
	left:0px;
	top:0px;
}.e125_2010 { 
	color:rgba(0, 0, 0, 1);
	width:256px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:-4;
}.e125_2011 { 
	color:rgba(0, 0, 0, 1);
	width:256px;
	height:29px;
	position:absolute;
	left:0px;
	top:33px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:-4;
}.e125_1925 { 
	width:256px;
	height:62px;
	position:absolute;
	left:280px;
	top:0px;
}.e125_2012 { 
	color:rgba(0, 0, 0, 1);
	width:256px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:-4;
}.e125_2013 { 
	color:rgba(0, 0, 0, 1);
	width:256px;
	height:29px;
	position:absolute;
	left:0px;
	top:33px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:-4;
}.e125_1926 { 
	width:256px;
	height:62px;
	position:absolute;
	left:560px;
	top:0px;
}.e125_2014 { 
	color:rgba(0, 0, 0, 1);
	width:256px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:-4;
}.e125_2015 { 
	color:rgba(0, 0, 0, 1);
	width:256px;
	height:29px;
	position:absolute;
	left:0px;
	top:33px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:-4;
}.e125_1927 { 
	width:816px;
	height:62px;
	position:absolute;
	left:0px;
	top:86px;
}.e125_2016 { 
	color:rgba(0, 0, 0, 1);
	width:816px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:-4;
}.e125_2017 { 
	color:rgba(0, 0, 0, 1);
	width:816px;
	height:29px;
	position:absolute;
	left:0px;
	top:33px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:-4;
}.e125_1928 { 
	width:816px;
	height:117px;
	position:absolute;
	left:0px;
	top:283px;
}.e125_1929 { 
	background-color:rgba(25.28003018349409, 25.28003018349409, 25.28003018349409, 1);
	width:408px;
	height:77px;
	position:absolute;
	left:0px;
	top:40px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e125_2018 { 
	color:rgba(255, 255, 255, 1);
	width:360px;
	height:29px;
	position:absolute;
	left:24px;
	top:24px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:-4;
}.e125_1930 { 
	background-color:rgba(247.56250709295273, 247.56250709295273, 247.56250709295273, 1);
	width:816px;
	height:801px;
	position:absolute;
	left:984px;
	top:120px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e125_1931 { 
	width:720px;
	height:58px;
	position:absolute;
	left:48px;
	top:49px;
}.e125_2019 { 
	color:rgba(0, 0, 0, 1);
	width:720px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:-4;
}.e125_1932 { 
	width:720px;
	height:88px;
	position:absolute;
	left:48px;
	top:131px;
}.e125_1933 { 
	width:355px;
	height:88px;
	position:absolute;
	left:0px;
	top:0px;
}.e125_1934 { 
	width:355px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}.e125_2020 { 
	color:rgba(0, 0, 0, 1);
	width:355px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:8;
}.e125_1935 { 
	background-color:rgba(255, 255, 255, 1);
	width:355px;
	height:60px;
	position:absolute;
	left:0px;
	top:28px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e125_2021 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.25;
	width:44px;
	height:24px;
	position:absolute;
	left:24px;
	top:18px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:-4;
}.e125_1936 { 
	width:355px;
	height:88px;
	position:absolute;
	left:365px;
	top:0px;
}.e125_1937 { 
	width:355px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}.e125_2022 { 
	color:rgba(0, 0, 0, 1);
	width:355px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:8;
}.e125_1938 { 
	background-color:rgba(255, 255, 255, 1);
	width:355px;
	height:60px;
	position:absolute;
	left:0px;
	top:28px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e125_2023 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.25;
	width:37px;
	height:24px;
	position:absolute;
	left:24px;
	top:18px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:-4;
}.e125_1939 { 
	width:720px;
	height:88px;
	position:absolute;
	left:48px;
	top:243px;
}.e125_1940 { 
	width:720px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}.e125_2024 { 
	color:rgba(0, 0, 0, 1);
	width:720px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:8;
}.e125_1941 { 
	background-color:rgba(255, 255, 255, 1);
	width:720px;
	height:60px;
	position:absolute;
	left:0px;
	top:28px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e125_2025 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.25;
	width:158px;
	height:24px;
	position:absolute;
	left:24px;
	top:18px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:-4;
}.e125_1942 { 
	width:720px;
	height:88px;
	position:absolute;
	left:48px;
	top:355px;
}.e125_1943 { 
	width:720px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}.e125_2026 { 
	color:rgba(0, 0, 0, 1);
	width:720px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:8;
}.e125_1944 { 
	background-color:rgba(255, 255, 255, 1);
	width:720px;
	height:60px;
	position:absolute;
	left:0px;
	top:28px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e125_2027 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.25;
	width:102px;
	height:24px;
	position:absolute;
	left:24px;
	top:18px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:-4;
}.e125_1945 { 
	width:720px;
	height:184px;
	position:absolute;
	left:48px;
	top:467px;
}.e125_1946 { 
	width:720px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}.e125_2028 { 
	color:rgba(0, 0, 0, 1);
	width:720px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:8;
}.e125_1947 { 
	background-color:rgba(255, 255, 255, 1);
	width:720px;
	height:156px;
	position:absolute;
	left:0px;
	top:28px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e125_1948 { 
	background-color:rgba(0, 0, 0, 1);
	width:720px;
	height:77px;
	position:absolute;
	left:48px;
	top:675px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e125_2029 { 
	color:rgba(255, 255, 255, 1);
	width:672px;
	height:29px;
	position:absolute;
	left:24px;
	top:24px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:-4;
}.e125_1949 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:397px;
	position:absolute;
	left:0px;
	top:6075px;
}.e125_1950 { 
	width:816px;
	height:157px;
	position:absolute;
	left:120px;
	top:120px;
}.e125_2030 { 
	color:rgba(25.28003018349409, 25.28003018349409, 25.28003018349409, 1);
	width:816px;
	height:87px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:72px;
	letter-spacing:-4;
}.e125_2031 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:816px;
	height:58px;
	position:absolute;
	left:0px;
	top:99px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:-4;
}.e125_1951 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:625px;
	position:absolute;
	left:0px;
	top:6472px;
}.e125_1952 { 
	width:1680px;
	height:385px;
	position:absolute;
	left:120px;
	top:120px;
}.e125_1953 { 
	background-color:rgba(247.56250709295273, 247.56250709295273, 247.56250709295273, 1);
	width:552px;
	height:308px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e125_1954 { 
	background-color:rgba(255, 255, 255, 1);
	width:64px;
	height:64px;
	position:absolute;
	left:24px;
	top:24px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.e125_2032 { 
	color:rgba(0, 0, 0, 1);
	width:21px;
	height:48px;
	position:absolute;
	left:21.5px;
	top:8px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-4;
}.e125_1955 { 
	width:504px;
	height:172px;
	position:absolute;
	left:24px;
	top:112px;
}.e125_2033 { 
	color:rgba(0, 0, 0, 1);
	width:504px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-4;
}.e125_2034 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.6000000238418579;
	width:504px;
	height:116px;
	position:absolute;
	left:0px;
	top:56px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:-4;
}.e125_1956 { 
	background-color:rgba(247.56250709295273, 247.56250709295273, 247.56250709295273, 1);
	width:552px;
	height:385px;
	position:absolute;
	left:564px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e125_1957 { 
	background-color:rgba(255, 255, 255, 1);
	width:64px;
	height:64px;
	position:absolute;
	left:24px;
	top:24px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.e125_2035 { 
	color:rgba(0, 0, 0, 1);
	width:26px;
	height:48px;
	position:absolute;
	left:19px;
	top:8px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-4;
}.e125_1958 { 
	width:504px;
	height:249px;
	position:absolute;
	left:24px;
	top:112px;
}.e125_2036 { 
	color:rgba(0, 0, 0, 1);
	width:504px;
	height:96px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-4;
}.e125_2037 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.6000000238418579;
	width:504px;
	height:145px;
	position:absolute;
	left:0px;
	top:104px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:-4;
}.e125_1959 { 
	background-color:rgba(247.56250709295273, 247.56250709295273, 247.56250709295273, 1);
	width:552px;
	height:337px;
	position:absolute;
	left:1128px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e125_1960 { 
	background-color:rgba(255, 255, 255, 1);
	width:64px;
	height:64px;
	position:absolute;
	left:24px;
	top:24px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.e125_2038 { 
	color:rgba(0, 0, 0, 1);
	width:27px;
	height:48px;
	position:absolute;
	left:18.5px;
	top:8px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-4;
}.e125_1961 { 
	width:504px;
	height:201px;
	position:absolute;
	left:24px;
	top:112px;
}.e125_2039 { 
	color:rgba(0, 0, 0, 1);
	width:504px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-4;
}.e125_2040 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.6000000238418579;
	width:504px;
	height:145px;
	position:absolute;
	left:0px;
	top:56px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:-4;
}